<strong>Nova mensagem através do formulário de CONTATO</strong>
<p>
  <strong>Nome:</strong> {{nome}} <br>
  <strong>Email:</strong> {{email}} <br>
  <strong>Telefone:</strong> {{telefone}} <br>
  <strong>Assunto:</strong> {{assunto}} <br>
  <strong>Mensagem:</strong> {{mensagem}} <br>
  <strong>Data/Hora:</strong> {{date}} <br>
  <br>
  <small>A mensagem está salva na área de Gestão do Site.</small>
</p>
